services:
  sistema-de-biblioteca:
    image: jonathanbarr0s/sistema-de-biblioteca:latest
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      - CONNECTION_STRING=Host=db;Port=5432;Database=biblioteca;Username=postgres;Password=123456
    ports:
      - "8080:8080"
      - "8443:8443"
    depends_on:
      - db
    networks:
      - api-network

  db:
    image: postgres:15
    container_name: biblioteca_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: biblioteca
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - api-network

networks:
  api-network:
    driver: bridge

volumes:
  db_data:
